body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-media-container {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.socialmedia a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.socialmedia a:hover {
    background-color: #555;
    border-radius: 50%;
}

.body {
    padding-top: 100px;
    width: 100%;
    height: 650px;
}

.body h1 {
    font-weight: bolder;
    font-size: 60px;
}
.body h2 {
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 30px;
}

.body p {
    font-size: 20px;
}

.body p a {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-shadow: 30px 5px 20px rgb(107, 106, 106);
    text-decoration: none;
    box-shadow: 0px 3px;
    cursor: pointer;
}

footer {
    
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: end;
}

@media (max-width: 952px) {
    .socialmedia a {
        font-size: 20px;
    }

    .body h1 {
        font-size: 50px;
    }

    .body h2 {
        font-size: 30px;
    }

    .body p {
        font-size: 20px;
    }
}

@media (max-width: 858px) {
    .socialmedia a {
        font-size: 18px;
    }

    .body h1 {
        font-size: 40px;
    }

    .body h2 {
        font-size: 30px;
    }

    .body p {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .socialmedia a {
        font-size: 10px;
    }

    .body h1 {
        font-size: 20px;
    }

    .body h2 {
        font-size: 15px;
    }

    .body p {
        font-size: 8px;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Black with transparency */
    justify-content: center;
    align-items: center;
}

/* Modal content (the iframe) */
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    height: 100vh; /* Set height for iframe content */
    position: relative;
}

/* Close button */
.close {
    color: #fcfcfc;
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap to bring the image closer to the text */
}

.text-content {
    margin-right: 500pX;
}

.profile-image {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 60%;
    object-fit: cover;
}

.body p {
    margin-top: 10px;
}
.text-container {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}