html{
    margin: 50px;
    padding: 0;
}

.header{
    position: relative;
    text-align: right;
    
    
}


.header .socialmedia a{
    padding: 5px;
    color: black;
    font-size: 25px;
    box-shadow: 0px 2px black;
}

.body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

.body h1{
    font-weight: bolder;
    font-size: 80px;

}
.body h2{
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 30px;
    
}

.body p{
    font-size: 30px;
   
    
}

.body p a{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-shadow: 30px 5px 20px rgb(107, 106, 106);
    text-decoration:none;
    box-shadow: 0px 3px;
    cursor:pointer;
    
   
    
}
footer{
    padding-top:100px;
}
footer p{
    text-align: end;
    justify-content: end;
}


@media (max-width: 952px){
    html{
        margin: 30px;
        padding: 0;
    }
    .header .socialmedia a{
        font-size: 20px; 
    }
    .body h1{
        
        font-size: 60px;
    
    }
    .body h2{
        
        font-size: 35px;
       
        
    }
    
    .body p{
        font-size: 20px;
       
        
    }

}

@media (max-width: 858px){
    html{
        margin: 20px;
        padding: 0;
    }
    .header .socialmedia a{
        font-size: 18px; 
    }
    .body h1{
        
        font-size: 40px;
    
    }
    .body h2{
        
        font-size: 30px;
       
        
    }
    
    .body p{
        font-size: 18px;
       
        
    }
}

@media (max-width: 350px){
    html{
        margin: 10px;
        padding: 0;
    }
    .header .socialmedia a{
        font-size: 10px; 
    }
    .body h1{
        
        font-size: 20px;
    
    }
    .body h2{
        
        font-size: 15px;
       
        
    }
    
    .body p{
        font-size: 8px;
       
        
    }
}